.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures that the container takes up the full height of the viewport */
}

.station-card {
  width: 400px;
  margin: 10px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 20px; /* Round borders */
  background-color: #9c9c9c7d; 
}


.station-card:hover {
  cursor: pointer;
}

.station-card h2 {
  text-align: center;
}

.station-container {
  text-align: center;
}

.prediction-container {
  display: flex;
  justify-content: center;
}

.prediction-item {
  margin: 0 10px;
  text-align: center;
}

.predict-button {
  border-radius: 20px;
  margin-top: 10px;
  background-color: #007bff; /* Blue background color */
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.predict-button:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.predictions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.prediction-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time,
.prediction {
  margin: 5px; /* Adjust as needed */
}
